* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background: #fff;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
}
